ol #orange{
    color:orange;
}
ol #pawpaw{
    color: green;

}
ol #banana{
    color: yellow;

}
ol #coconut{
    color: brown;
}


ul #orange1{
    color: orange;
}
ul #pawpaw1{
    color: green;
}
ul #banana1{
    color: yellow;
}
ul #coconut1{
    color: brown;
}